







#category{
    /* background-color: black; */
    padding: -80px 0;
    margin-top: 1px;;
}

.container{
    max-width: 90%;
    margin: 0 auto;
}

.container-category{
    max-width: 1100px;
    margin: 0 auto;
}

.row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.text-center{
    text-align: center;
    font-size: 18px;
    padding: 20px;
      margin-top: 10px;
}

.text-center h2{
  font-family: 'Roboto', sans-serif;
    font-weight: 10px;
    font-size: 50px;
    color:#00CBFE;
    margin-top: 10px;
}

/* .text-center h2 span{
    font-weight: 800;
} */

.text-center p{
    max-width: 500px;
    margin: 0 auto;
    color: #6c757d;
    line-height: 1.5;
    font-size: 1em;
}

.col{
    position: relative;
    width: 33.3333333%;
    /* overflow: hidden; */
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.col .card{
  position: relative;
  width: 100%;
  height: 280px;
  background: #1B1B1B;
  display: flex;
  /* align-items: flex-end; */
  flex-direction: column;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  border-radius: 10px;
}

.image {
  opacity: 1;
  display: flex;
  width: 100%;
  height: 280px;
  transition: .5s ease;
  backface-visibility: hidden;
  border-radius: 10px;
}

.card:hover{
  transform: translateY(20px);
}

.middle {
  /* content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom,rgb(88, 228, 233),rgb(224,255,255));
  border-radius: 10px;
  z-index: 2;
  transition: 0.5s;
  opacity: 0; */ 

  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: left;
}

/* webPractice Version */
.card:hover:before{
  opacity: 1;
}

.card .info{
  margin-top: 50px;
  margin-left: 10px; 
  position: relative;
  z-index: 3;
  color: #fff;
  opacity: 0;
  transform: translateY(30px);
  transition: 0.5s;
}

.card:hover .info{
  opacity: 1;
  transform: translateY(0px);
}

.card .info h1{
  font-weight: 200;
  margin: 0;
  color: whitesmoke;
}

.card .info hr {
  display: block;
  width: 0;
  
  border: none;
  border-bottom: solid 2px #FEF5DF;
  
  /* position: absolute; */
  bottom: 0; left:20px;
  
  transition: all .5s;
}

.card .info .btn{
  margin-top: 30px;
  margin-left: 30px;
  text-decoration: none;
  padding: 0.5rem 1rem;
  color: #000;
  font-weight: 400;
  cursor: pointer;
  font-size: 14px;
  background: #fff;
}

.card .info .btn:hover{
  box-shadow: 7px 7px 10px rgba(10, 7, 7, 0.9);
}
/* webPractice Version end */

/* w3schoolVersion */
.card:hover .image {
  opacity: 0.3;
}

.card:hover .middle {
  opacity: 1;
}

.card:hover hr {
  width: 75px;
  transition-delay: 0.4s;
}


.card:hover{
    transform: translateY(-10px);
    transition: transform 0.3s ease;
}

.card p{
    color: #0a0c0e;
}



.card-body h5 a{
    color: #222;
}

.checked {
  color: orange;
}



/* [type=radio]{
  display: none;
} */

/* for whats new */

#WhatsNew{
  margin: 50px;
}

#WhatsNew .text-center1 h2{
  margin-top: 50px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 50px;
  color:#00CBFE;
}

.ia-container {
    width: 1035px;
    margin: 20px auto;
    overflow: hidden;
    box-shadow: 1px 1px 4px rgba(0,0,0,0);
    border: 2px solid rgba(255,255,255,0.6);
}

.ia-container figure {
  position: absolute;
top: 0;
left: 100px; /* width of visible piece */
width: 335px;
  box-shadow: 0 0 0 1px rgba(255,255,255,0.6);
  transition: all 0.3s ease-in-out;
}

.ia-container > figure {
  position: relative;
left: 0 !important;
}

figure {
  margin: 0 0;
}

.ia-container img {
    display: block;
    width: 100%;
}

.ia-container input {
    position: absolute;
    top: 0;
  left: 0;
  bottom: 0;
    width: 100px; /* just cover visible part */
    height: 100%;
    cursor: pointer;
    border: 0;
    padding: 0;
    opacity: 0;
    z-index: 100;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.ia-container input:checked{
    width: 5px;
    left: auto;
    right: 0px;
}

.ia-container input:checked ~ figure {
    left: 335px;
    transition: all 0.7s ease-in-out;
}

.ia-container figcaption {
    width: 100%;
    height: 100%;
    background: rgba(87, 73, 81, 0.1);
    position: absolute;
    top: 0px;
    transition: all 0.2s linear;
}

.ia-container figcaption span {
    position: absolute;
    top: 40%;
    margin-top: -30px;
    right: 20px;
    left: 20px;
    overflow: hidden;
    text-align: center;
    background: rgba(87, 73, 81, 0.3);
    line-height: 20px;
    font-size: 18px;
    opacity: 0;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 700;
    padding: 20px;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
} 

.ia-container input:checked + figcaption,
.ia-container input:checked:hover + figcaption{
    background: rgba(87, 73, 81, 0);
}

.ia-container input:checked + figcaption span {
  transition: all 0.4s ease-in-out 0.5s;
opacity: 1;
top: 50%;
}

.ia-container #ia-selector-last:checked + figcaption span {
    transition-delay: 0.3s;
}

.ia-container input:hover + figcaption {
    background: rgba(87, 73, 81, 0.03);
}

.ia-container input:checked ~ figure input{
  z-index: 1;
}

@media screen and (max-width: 720px) {
  .ia-container { 
  width: 540px; 
}

.ia-container figure { 
  left: 40px; 
  width: 260px; 
}

.ia-container input { 
  width: 40px; 
}

.ia-container input:checked ~ figure { 
  left: 260px; 
}

.ia-container figcaption span { 
  font-size: 16px; 
}
}

@media screen and (max-width: 520px) {
  .ia-container { 
  width: 320px; 
}

.ia-container figure { 
  left: 20px; 
  width: 180px; 
}

.ia-container input { 
  width: 20px; 
}

.ia-container input:checked ~ figure { 
  left: 180px; 
}

.ia-container figcaption span { 
  font-size: 12px; 
  letter-spacing: 2px; 
  padding: 10px; 
  margin-top: -20px; 
} 







